.box{
    display: flex;
    flex-direction: column;

    p{
      color: #1d8cd1;
      font-size: 13px;
    }

    .image {
        border-radius: 50%;
        border: 1px solid var(--border);
        image-rendering: auto;
        // width: 80px;
        height: 45px;
        margin: 10px;
        p {
          font-size: 12px;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
    
        }
        background-position: center;
        background-size: cover;
      }
    
      .foto {
        
        width: 45px;
        height: 100%;
        object-fit: cover;
        // border: #fff solid 2px;
        border-radius: 50%;
      }

      .seguir{
        margin-right: 30px;
      }

}


