.card{
    @media screen and (max-width: 361px) {
        width: 460px;
    }
}

.header{
    margin-top: 0px;
    padding: 0;
}

.image{
    span{
        border: 1px solid #000;
        border-radius: 50%;
    }
}

.divisao{
    display: none;
    height: 3px;
    background-color: rgb(134, 34, 34);

    @media screen and (max-width: 361px) {
        display: flex;
    }
        
}


.button{
    font-size: medium;
    color: rgb(148, 231, 231);
}