.header{
    margin-top: 0px;
    padding: 0;
}

.image{
    span{
        border: 1px solid #000;
        border-radius: 50%;
    }
}

.divisao{
    width: 100%;
    height: 1px;
    background-color: rgb(179, 179, 179);
}

.button{
    font-size: medium;
    color: rgb(148, 231, 231);
}