.container {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  display: flex;



  .slide {
    
    max-width: 460px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x:auto;
    padding: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
  .image {
    border-radius: 50%;
    border: 3px solid rgb(206, 29, 29);
    image-rendering: auto;
    // width: 80px;
    height: 60px;
    margin: 10px;
    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;

    }
    background-position: center;
    background-size: cover;
  }

  .foto {
    
    width: 60px;
    height: 100%;
    object-fit: cover;
    border: #fff solid 2px;
    border-radius: 50%;
  }

  .buttonRight{
    margin-left: -40px;
    margin-top: 30px;
    background-color: transparent;
    :hover{
      background-color: #fff;
    }
  }

  .buttonLeft{
    margin-right: -40px;
    margin-top: 30px;
    background-color: transparent;
    :hover{
      background-color: #fff;
    }
  }
}
